<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="index::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Add New Product Page</title>
		
</head>
<body>
	<section style="height:150vh;margin-top:100px;">
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-1">
				
				      <div class="container text-center" style="padding-top:20px;">
				      	<img class="" style="width:80px;" th:src="@{/img/membership.png}"/>
				      </div>
						<h1 class="text-center" style="padding-bottom:20px;">Choose Car To Update Detail !!</h1>
						
						<div th:if="${message}" th:classappend="${message.type}" class="alert" role="alert">
          					<p class="text-center" th:text="${message.content}"></p>
    					</div>
    					
						<form action="" th:action="@{/updatecardata}" method="post">
						
						<div class="alert alert-danger" th:if="${updatecardataerror}"  role="alert">
  								<h6 th:text="${updatecardataerror}"></h6>
							</div>
							
						         <div class="col" style="margin-bottom:20px">
								   <label class="form-label text-dark">Choose Existing Car Name To Update The Data <span style="color:red">*</span></label>
								    <select  id="inputState" class="form-select" name="oldCar" >
								   <option selected>Select</option>
								      <option th:each="n :${allcarsdata}" th:text="${n.carName}"></option>
								      
								    </select>
								  </div>
								
	
							 <div class="container text-center">
							 	<button type="submit"  class="btn bg-primary text-white">
							 		Update Car
							 	</button>
							 	<button type="reset" class="btn btn-warning text-white">
							 		Reset
							 	</button>
							 </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
 <script th:src="@{/js/script.js}"></script>
</body>

</html>